# Build and config files
mm2_tools_server_bin
coins_config.json

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

mm2
cmd/mm2_cli_wasm/data/deps
cmd/mm2_cli_wasm/data/js
cmd/mm2_cli_wasm/data/script.js
cmd/mm2_cli_wasm/data/wasm_exec.js
cmd/mm2_cli_wasm/data/static/assets/mm2_market_maker.json
